.newComment {
    margin-bottom: 1em;
}
.comments {
    margin-top: 1.5em;
    margin-bottom: 4em;
}
#addPost {
    margin-top: 1.5em;
}
.thread-view {
    margin-top: 2em;
}
.blue {
    color: royalblue;
}
.dodgerblue {
    color: dodgerblue;
}
.darkblue {
    color: darkblue;
}
