.avatar-container {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-image {
    /* object-fit: contain; */
    height: 100%;
    width: auto;
    border-radius: 50%;
}