
<link rel="stylesheet" type="text/css" media="screen" href="./css/main-page.css">

<hr>

<div class="container">

    <div class="row justify-content-between mb-4">
        <div class="col-4">
            <button class="w-100 btn btn-success" ng-click="ctrl.newPostClick()">New Post</button>
        </div>

        <div class="col-4 btn-group">
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"
                        ng-click="ctrl.currOrder = '-createdAt'"
                        ng-class=" (ctrl.currOrder === '-createdAt') ? 'active' : '' ">
                        Newest
                    </a>
                    <a class="dropdown-item" href="#"
                        ng-click="ctrl.currOrder = 'createdAt'"
                        ng-class=" (ctrl.currOrder === 'createdAt') ? 'active' : '' ">
                        Oldest
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"
                        ng-click="ctrl.currOrder = sortMostLikes"
                        ng-class=" (ctrl.currOrder === sortMostLikes) ? 'active' : '' ">
                        Most Popular
                    </a>
                    <a class="dropdown-item" href="#"
                        ng-click="ctrl.currOrder = sortLeastLikes"
                        ng-class=" (ctrl.currOrder === sortLeastLikes) ? 'active' : '' ">
                        Least Popular
                    </a>
                </div>
            </div>

        <div class="col-4 btn-group">
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
            <div class="dropdown-menu col-4">
                <a class="dropdown-item" href="#" 
                    ng-click="ctrl.changeFilter('')"
                    ng-class="(ctrl.currFilterSelector === '') ? 'active' : ''">
                    None
                </a>
                <a class="dropdown-item" href="#" 
                    ng-click="ctrl.changeFilter('my posts')"
                    ng-class="(ctrl.currFilterSelector === 'my posts') ? 'active' : ''">
                    My Posts
                </a>
                <a class="dropdown-item" href="#"
                    ng-click="ctrl.changeFilter('my comments')"
                    ng-class="(ctrl.currFilterSelector === 'my comments') ? 'active' : ''">
                    My Comments
                </a>
                <a class="dropdown-item" href="#"
                    ng-click="ctrl.changeFilter('liked posts')"
                    ng-class="(ctrl.currFilterSelector === 'liked posts') ? 'active' : ''">
                    My Liked Posts
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"
                    ng-class="(ctrl.currFilterSelector === 'search') ? 'active' : 'disabled'">
                    Search Results
                </a>
            </div>
        </div>
    </div>


    <table class="table">
        <!-- <tr ng-repeat="thread in ctrl.threads | orderBy: ctrl.currOrder | filter: ctrl.currFilter"> -->
        <tr ng-repeat="thread in ctrl.threads | orderBy: ctrl.currOrder | threadFilters:ctrl.currFilterSelector:ctrl.loggedInUser | filter:ctrl.searchText">
            <!-- <td>
                <div class="thread-avatar-container">
                    <img class="avatar-image border-circle" src="{{ctrl.viewUser.img}}" alt="User avatar">
                </div>
            </td> -->
            <td>
                <h4 class="thread-list-title" ng-click="ctrl.viewThread = thread; ctrl.changeInclude('thread')"> <a href="#">{{thread.title}}</a> </h4>
                <span class="thread-list-user">
                    Posted by:
                    <a class='username-link'
                        ng-click="ctrl.showUserProfile(thread.userRef)" href="#">
                        {{thread.username ? thread.username : 'unknown' }}
                    </a>
                    @ {{thread.createdAt | date: 'MM/dd @h:mm:ssa'}}
                </span>
                <p ng-click="ctrl.viewThread = thread; ctrl.changeInclude('thread')">
                    {{thread.content | limitTo: 120}}...
                </p>
            </td>

            <td class="text-center">
                <div ng-if="!ctrl.checkLikes(thread)" class="like-btn btn btn-dark"             ng-click="ctrl.addThreadLike(thread)">
                    Likes: {{(thread.likes) ? thread.likes : '0'}}
                </div>
                <div ng-if="ctrl.checkLikes(thread)" class="like-btn btn btn-primary"           ng-click="ctrl.removeThreadLike(thread)">
                    Likes: {{(thread.likes) ? thread.likes : '0'}}
                </div>
                <br>
                Comments: {{thread.comments.length}}
            </td>
        </tr>
    </table>

    <!-- Testing only -->
    <!-- Logged in user: {{ctrl.loggedInUser}} -->
</div>
