<div class="container">
    <h1>{{ctrl.viewThread.title}}</h2>
    By <a href="#">{{ctrl.viewThread.username ? ctrl.viewThread.username : 'unknown' }}</a>
    <p> {{ctrl.viewThread.content}} </p>
    
    <!-- Edit if you are the owner -->
    <button ng-if="ctrl.viewThread.userRef === ctrl.loggedInUser._id">Edit Thread</button>

    <h3>Comments</h3>
    <ul>
        <li ng-repeat="comment in ctrl.viewThread.comments track by $index"> {{ comment }}</li>
    </ul>

    <h3>New Comment</h3>
    <form ng-submit="ctrl.addComment(ctrl.viewThread)">
        <input type="text" ng-model="ctrl.newComment" />
        <input type="submit" value="Sumbit Comment">
    </form>
    
    <div ng-click="ctrl.viewThread = ''; ctrl.changeInclude('main-page')" class="btn btn-primary">Go Back</div>
</div>