<link rel="stylesheet" type="text/css" media="screen" href="./css/thread.css">
<div class="container">
    <div class="container thread-view">
        <h3 class="blue">{{ctrl.viewThread.title}}</h3>
        By <a href="#">{{ctrl.viewThread.username ? ctrl.viewThread.username : 'unknown' }}</a>
        <p ng-if="!ctrl.showThreadUpdateFields"> {{ctrl.viewThread.content}} </p>
        <br>
        <textarea ng-if="ctrl.showThreadUpdateFields" type="text" cols="70" rows="10" ng-model="ctrl.updatingThread.content"> </textarea>

        <!-- Edit if you are the owner -->
            <!-- Edit Thread -->
        <button ng-if="ctrl.viewThread.userRef === ctrl.loggedInUser._id && !ctrl.showThreadUpdateFields" ng-click="ctrl.showThreadUpdate(ctrl.viewThread)" class="btn-info">Edit Post</button>
            <!-- Delete thread -->
        <button ng-if="ctrl.viewThread.userRef === ctrl.loggedInUser._id && !ctrl.showThreadUpdateFields" ng-click="ctrl.deleteThread(ctrl.viewThread._id)" class="btn-danger">Delete Post</button>
        <!-- Edit Options: Save or Cancel -->
    </div>
    <div class="container">
        <button ng-if="ctrl.showThreadUpdateFields" ng-click="ctrl.saveThreadUpdate(ctrl.viewThread)" class="btn-success">Save</button>
        <button ng-if="ctrl.showThreadUpdateFields" ng-click="ctrl.cancelThreadUpdate(ctrl.viewThread)" class="btn-warning">Cancel</button>
    </div>

    <div class="container comments">
        <h4 class="dodgerblue">Comments</h4>
        <ul>
            <li class="list" ng-repeat="comment in ctrl.viewThread.comments track by $index"> {{ comment }}</li>
        </ul>
    </div>

    <div ng-show="ctrl.loggedIn" class="container newComment">
        <h4 class="darkblue">New Comment</h4>
        <form class="newComment" ng-submit="ctrl.addComment(ctrl.viewThread)">
            <textarea type="text" cols="70" rows="10" ng-model="ctrl.newComment"></textarea>
            <br/><input type="submit" value="Submit Comment" class="btn-success">
        </form>
    </div>
    <div ng-show="true" id="goBack" ng-click="ctrl.viewThread = ''; ctrl.changeInclude('main-page')" class="btn btn-secondary">Go Back</div>
</div>
